body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-image: url(../assets/images/fondo.webp);
    text-align: center;
}

#main-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

#div-logo {
    position: absolute;
    background-color: white;
    width: 500px;
    height: 250px;
    border-radius: 60px;
    margin-top: -280px;
}

#logo {
    height: 150px;
    width: 150px;
    margin-top: 30px;
}

#main-info #info {
    position: relative;
    background: linear-gradient(rgba(3,35,68,0.85), rgba(3,35,68,0.90)); 
    width: 500px;
    height: 250px;
    border-radius: 60px;
    margin-top: 280px;
}

#foto {
    padding: 10px;
    width: 200px;
    height: 200px;
    border-radius: 100px 100px;
    border: 5px solid;
    border-color: rgb(212, 212, 212);
    position: inherit;
    bottom: 120px;
}

#main-info #info h1{
    margin: -120px;
    color: white;
}

#main-info #info h2{
    margin: 125px;
    color: white;
}

#list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 50px 0px 0px;
}

ul {
    display: flex;
    flex-direction: row;
    margin: 0px 0px 10px 15px;
}  

li {
    list-style: none;
    display: block;
    margin: 0px 10px 0px 10px;
}

#c {
    background: linear-gradient(rgba(3,35,68,0.80), rgba(3,35,68,0.80));
    border-radius: 100px 100px;
    width: 38px;
    height: 38px;
    transition: 300ms all;
    margin: 0px 5px 0px 5px;
}

#s {
    text-decoration: none !important;
    color: white; 
}

svg {
    width: 20px;
    height: 20px;
    margin-top: 8px;
}

#c:hover {
    background-color: #2374CA;
}

