<div *ngIf="selector.op == 0">
  <div id="Contacto">
    <a href="../files/Flowcontact.vcf" id="g" download="Flowcontact.vcf">Agregar a Contactos</a>
  </div>
  <div class="container mt-5">
    <div class="col">
      <div *ngFor="let project of es; let last = last" class="row-md-4 no-gutters">
        <div class="card" style="width: 18rem;">
          <div *ngIf="project.link != null; else onclick">
            <a [href]="project.link" id="Card">
              <img [src]="project.img" class="card-img-right img-size" height="80px">
              <div class="card-body">
                <h5 class="card-title">{{project.title}}</h5>
                <p class="card-text">{{project.desc}}</p>
              </div>
            </a>
          </div>
          <ng-template #onclick>
            <div>
              <a *ngIf="project.click == null" onclick="console.log('Oda')" id="Card">
                <img [src]="project.img" class="card-img-right img-size" height="80px">
                <div class="card-body">
                  <h5 class="card-title">{{project.title}}</h5>
                  <p class="card-text">{{project.desc}}</p>
                </div>
              </a>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="selector.op == 1">
  <div id="Contacto">
    <a href="../files/Flowcontact.vcf" id="g" download="Flowcontact.vcf">Add to Contacts</a>
  </div>
  <div class="container mt-5">
    <div class="col">
      <div *ngFor="let project of en; let last = last" class="row-md-4 no-gutters" >
        <div class="card" style="width: 18rem;">
          <div *ngIf="project.link != null; else onclick">
            <a [href]="project.link" id="Card">
              <img [src]="project.img" class="card-img-right img-size" height="80px">
              <div class="card-body">
                <h5 class="card-title">{{project.title}}</h5>
                <p class="card-text">{{project.desc}}</p>
              </div>
            </a>
          </div>
          <ng-template #onclick>
            <div>
              <a *ngIf="project.click == null" onclick="console.log('Oda')" id="Card">
                <img [src]="project.img" class="card-img-right img-size" height="80px">
                <div class="card-body">
                  <h5 class="card-title">{{project.title}}</h5>
                  <p class="card-text">{{project.desc}}</p>
                </div>
              </a>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="ProjectModal" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="exampleModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="modal-color">
      <div class="modal-header">
        <h4 class="modal-title">Oda</h4>
      </div>
      <div class="modal-body">
        <img [src]="" id="modalImg">
        <p>Oda</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success green"  data-bs-dismiss="modal">Ir</button>
        <button type="button" class="btn btn-default marco" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>