#Card{
    text-decoration: none;
    color: black !important;
}

.card {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 150px !important;
    border-radius: 50px 50px;
    background: linear-gradient(rgba(254, 255, 255, 1), rgba(255, 255, 255, 0.7));
}

.cardd {
    margin-top: 10px;
    margin-bottom: 200px;
    margin-left: 75px;
    height: 50px !important;
    border-radius: 50px 50px;
    background: linear-gradient(rgba(3,35,68, 0.7), rgba(3,35,68, 1));
}

.cardd h5 {
    font-family: 'Righteous, sans-serif';
    font-size: 25px !important;
    color: white;
    margin-top: -40px;
}


.card img {
    position: absolute;
    left: 20px !important;
    top: 22px !important;
}

.card h5 {
    margin-left: 80px;
    margin-top: -10px;
    font-family: 'Righteous, sans-serif';
    font-size: 25px !important;
}

.card p {
    margin-left: 80px;
    margin-top: -5px;
    font-family: 'Lexend, sans-serif';
    font-size: 17px !important;
}

.color {
    background-color: #032344;
    color: white;
}

.video {
    height: 100px;
    width: 100px;
}

#Contacto {
    padding: 5px;
}

#g {
    display: flex !important;
    background: linear-gradient(rgba(3,35,68,0.80), rgba(3,35,68,0.80));
    transition: 300ms all;
    text-decoration: none;
    color: white;
    position: relative;
    left: 25%;
    top: 43px;
    width: 145px;
    height: 43px;
    border-radius: 5px;
    align-items: center;
    padding-left: 10px;
    font-family: 'Lexend, sans-serif';
    font-size: 16px;
}

#g:hover {
    background-color: #2374CA;
}

@media screen and (max-width: 311px) {
    .card {
        width: 99% !important;
    }

    .card img {
        width: 60px;
        height: 60px;
        left: 25px !important;
        top: 9px !important;
    }

    .card p {
       font-size: 10px ;
    }

    .card h5 {
        font-size: 11px ;
    }

    .last-child{
        height: 80px;
    }
}

@media screen and (max-width: 257px) {
    .card img {
        top: 10px !important;
    }
}

@media screen and (min-height: 897px) {
    #Card {
        height: 110px !important;
    }
}


@media screen and (min-height: 915px) {
    #Card {
        height: 130px !important;
    }
}

@media screen and (min-height: 932px) {
    #Card {
        height: 120px !important;
    }
}

@media screen and (min-height: 980px) {
    #Card {
        height: 130px !important;
    }
}

@media screen and (min-height: 1009px) {
    #Card {
        height: 140px !important;
    }
}

@media screen and (min-height: 1024px) {
    #Card {
        height: 140px !important;
    }

    .card img {
        width: 80px;
        height: 80px;
        left: 15px !important;
        top: 35px !important;
    }

    .card p {
        font-size: 20px ;
     }
 
     .card h5 {
         font-size: 20px ;
     }
}

@media screen and (min-height: 1180px) {
    #Card {
        height: 191px !important;
    }

    .card img {
        width: 80px;
        height: 80px;
        left: 15px !important;
        top: 55px !important;
    }

    .card p {
        font-size: 20px ;
     }
 
     .card h5 {
         font-size: 20px ;
    }
    
    .card-body {
        margin-top: 25px;
    }
}

@media screen and (min-height: 1366px) {
    #Card {
        height: 254px !important;
    }

    .card img {
        width: 80px;
        height: 80px;
        left: 15px !important;
        top: 30px !important;
    }

    .card p {
        font-size: 18px ;
     }
 
     .card h5 {
        font-size: 20px ;
    }
}